<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="{% url 'products:index' %}"><h4 style="color: #ffb7c5">Sakura</h4></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'cart:cart' %}">Корзина</a>
        </li>
        {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'users:signup' %}">Регистрация</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'users:login' %}">Войти</a>
        </li>
        {% else %}
          <li class="nav-item">
            <button class="nav-link active" data-bs-toggle="modal" data-bs-target="#Logout">Выйти</button>
          </li>
          <!-- Modal -->
          <div class="modal fade" id="Logout" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
               aria-labelledby="LogoutLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="LogoutLabel">Выход</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  Нажмите выйти для подтверждения.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                  <a class="btn btn-warning" href="{% url 'users:logout' %}">Выйти</a>
                </div>
              </div>
            </div>
          </div>
          <!-- END Modal -->
        {% endif %}
      </ul>
      <form class="d-flex" role="search" action="{% url 'products:search' %}" method="get">
        <input class="form-control me-2" type="search" placeholder="Найдите книгу" aria-label="Search" name="search">
        <button class="btn btn-outline-primary" type="submit">Поиск</button>
      </form>
    </div>
  </div>
</nav>
